@mixin text($f, $fw, $fs, $ln) {
  font-family: $f, sans-serif;
  font-style: normal;
  font-weight: $fw;
  font-size: $fs;
  line-height: $ln;
  text-align: center;
  text-decoration: none;
  outline: none;
}